doctype html

//- This will go into the HTML file to let people know to edit this file instead:
// Please edit the index.jade or the files in comparisons/, this file is generated

include _resources

<!--[if lt IE 10 ]> <html class="old-ie"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html> <!--<![endif]-->
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='chrome=1')
  meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
  meta(name='description', content='Examples of how to do common event, and element operations with plain HTML and CSS.')
  meta(name='twitter:card', content='summary_large_image')
  meta(name='twitter:site', content='@una')
  meta(name='twitter:creator', content='@una')
  meta(name='twitter:title', content='You Might Not Need JavaScript')
  meta(name='twitter:description', content='Examples of how to do common event, and element operations with plain HTML and CSS.')
  meta(name='twitter:image' content='http://youmightnotneedjs.com/shareimg.jpg')
  
  title You Might Not Need JavaScript

  link(rel='stylesheet', href='css/prism.css')
  link(rel='stylesheet', href='css/index.css')

  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato')

  script(type='text/javascript').
    try{Typekit.load();}catch(e){}

  script(src='js/prism.js')
  script(src='js/index.js')
  script(src='https://assets.codepen.io/assets/embed/ei.js')

body
  .page
    header.page-header
      .inner
        h1
          | You might <span class="highlighted">no</span>t need <span class="highlighted">JavaScript</span>

    .explanation
      .inner
        p
          | JavaScript is great, and by all means use it, while also being aware that you can build so many functional UI components without the additional dependancy.

        p
          | Maybe you can include a few lines of utility code, or a mixin, and forgo the requirement.  If you're only targeting more modern browsers,
          | you might not need anything more than what the browser ships with.

        p
          | This site is fully copied from <a href="http://youmightnotneedjquery.com">youmightnotneedjquery.com</a>, an excellent resource for vanilla JavaSript created by <a href="http://twitter.com/adamfschwartz">@adamfschwartz</a> and <a href="http://twitter.com/zachbloom">@zackbloom</a>.
          | But this time, we take a look at the power of modern native HTML and CSS as well as some of the syntactic sugar of Sass. Because, you might not need scripts for that task at all! (Note: these methods can all be accessible, but the demos may not be. Please take a moment to test these before using in production)

    //- .share-buttons

    //-   .share-button.twitter-share-button
    //-     iframe(src='http://hubstar.io/twitter/spin?via=HubSpotDev&text=You%20might%20not%20need%20JavaScript&url=http://YouMightNotNeedJS.com&name=%22You%20might%20not%20need%20JavaScript%22', frameborder=0, scrolling=0)

    //-   .share-button.github-stars-button
    //-     iframe(src='http://hubstar.io/github/spin/una/YouMightNotNeedJS', frameborder=0, scrolling=0)

    header.search

      input(type="search", placeholder="Search...", required)

    .comparisons

      .empty-message
        | Your search didn't match any comparisons.

      - var i = 0
      for comp in comparisons
        section(id=comp.title, class=(++i % 2 ? 'odd' : ''))
          .inner
            h2= titleCase(comp.title)

            if comp.comparison._resources
              +resources(comp.comparison._resources)

            for co, name in comp.comparison
              - if (name[0] === '_') continue;

              .comparison(id=name.replace(' ', '-').toLowerCase())
                h3
                  a(href='#' + name.replace(' ', '-'))= titleCase(name.replace(/_/g, ' '))

                if co.resources
                    +resources(co.resources.txt)

                div.codpen-example

                  for code in ['codepen']
                    if co[code]
                        h4= code.toUpperCase()

                        for lang in ['html', 'markup']
                          if co[code][lang]
                            !{co[code][lang]}

                div.comparison-group

                  for code in ['html', 'css', 'scss', 'markup']
                    if co[code]
                      .code(data-code=getNamePart(code), class=getNamePart(code))

                        h4= code.toUpperCase()

                        for lang in ['html', 'scss', 'css', 'markup']
                          if co[code][lang]
                            .code-block(class='language-' + fullLanguage(lang), data-lang=fullLanguage(lang))
                              pre
                                code= co[code][lang]

    footer
      p made by <a href="http://twitter.com/una">@una</a> based on <a href="http://youmightnotneedjquery.com">youmightnotneedjquery.com</a> | contribute on <a href="https://github.com/una/YouMightNotNeedJS">github</a>

  div(style='-webkit-transform: translateZ(0);')

<script>Prism.highlightAll();</script>