doctype html

//- This will go into the HTML file to let people know to edit this file instead:
// Please edit the index.jade or the files in comparisons/, this file is generated

include _resources

<!--[if lt IE 10 ]> <html class="old-ie"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html> <!--<![endif]-->
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='chrome=1')
  meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')

  title You Might Not Need JavaScript

  meta(name='description', content='Examples of how to do common event, and element operations with plain HTML and CSS.')
  link(rel='icon', href='http://static.hubspot.com/favicon.ico')

  link(rel='stylesheet', href='css/prism.css')
  link(rel='stylesheet', href='css/index.css')

  script(type='text/javascript', src='//use.typekit.net/ghy0wve.js')
  script(type='text/javascript').
    try{Typekit.load();}catch(e){}

  script(src='js/prism.js')
  script(src='js/index.js')
body
  .page
    header.page-header
      .inner
        h1
          | You might <span class="highlighted">no</span>t need <span class="highlighted">JavaScript</span>

    .explanation
      .inner
        p
          | JavaScript is great, and by all means use it, while also being aware that you can build so many functional UI components without the additional dependancy.

        p
          | Maybe you can include a few lines of utility code, or a mixin, and forgo the requirement.  If you're only targeting more modern browsers,
          | you might not need anything more than what the browser ships with.

        p
          | This site is fully copied from <a href="http://youmightnotneedjquery.com">youmightnotneedjquery.com</a>, an excellent resource for vanilla JavaSript created by <a href="http://twitter.com/adamfschwartz">@adamfschwartz</a> and <a href="http://twitter.com/zachbloom">@zackbloom</a>.
          | But this time, we take a look at the power of modern native HTML and CSS as well as some of the syntactic sugar of Sass. Because, you might not need scripts for that task at all!

    .share-buttons

      .share-button.twitter-share-button
        iframe(src='http://hubstar.io/twitter/spin?via=HubSpotDev&text=You%20might%20not%20need%20jQuery&url=http://YouMightNotNeedjQuery.com&name=%22You%20might%20not%20need%20jQuery%22', frameborder=0, scrolling=0)

      .share-button.github-stars-button
        iframe(src='http://hubstar.io/github/spin/HubSpot/YouMightNotNeedjQuery', frameborder=0, scrolling=0)

    header.search

      input(type="search", placeholder="Search...", required)

    .comparisons

      .empty-message
        | Your search didn't match any comparisons.

      - var i = 0
      for comp in comparisons
        section(id=comp.title, class=(++i % 2 ? 'odd' : ''))
          .inner
            h2= titleCase(comp.title)

            if comp.comparison._resources
              +resources(comp.comparison._resources)

            for co, name in comp.comparison
              - if (name[0] === '_') continue;

              .comparison(id=name.replace(' ', '-').toLowerCase())
                h3
                  a(href='#' + name.replace(' ', '-'))= titleCase(name.replace(/_/g, ' '))

                if co.resources
                    +resources(co.resources.txt)

                for code in ['html', 'css', 'ie10', 'ie9', 'ie8', 'scss']
                  if co[code]
                    .code(data-code=getNamePart(code), class=getNamePart(code))

                      h4= code.toUpperCase()

                      for lang in ['html', 'scss', 'css']
                        if co[code][lang]
                          .code-block(class='language-' + fullLanguage(lang), data-lang=fullLanguage(lang))
                            pre
                              code= co[code][lang]

    footer
      p Made by <a href="http://twitter.com/una">@una</a> based on <a href="http://youmightnotneedjquery.com">youmightnotneedjquery.com</a>.

  script.
    (function(d,s,i,r) {
    if (d.getElementById(i)){return;}
    var n=d.createElement(s),e=d.getElementsByTagName(s)[0];
    n.id=i;n.src='//js.hubspot.com/analytics/'+(Math.ceil(new Date()/r)*r)+'/51294.js';
    e.parentNode.insertBefore(n, e);
    })(document,"script","hs-analytics",300000);

  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-45159009-1', 'auto');
    ga('create', 'UA-50254005-2', 'auto', {name: 'e'});
    ga('send', 'pageview');
    ga('e.send', 'pageview');

  div(style='-webkit-transform: translateZ(0);')
